<h1 class="text-danger text-center"><b><%= status %></b></h1>
<h3 class="text-warning text-center"><%=error %></h3>
<p class="text-muted text-center">The page you're looking for does not exist, have been removed, name changed or is temporarily unavailable </p>